*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #87CEEB !important;
}

.keisetsu{
  font-family: 'Mochiy Pop One', sans-serif;
}

header{
  background-color: #00BFFF;
  border-bottom: 1px solid #000;
}

.header-subnav{
  padding-bottom: 20px;
}

.nav-item{
  list-style: none;
  text-align: center;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fff;
}

.top-img{
  width: 80%;
  height: 400px;
  background-image: url(img/default-image.jpg);
  background-position: center;
  background-size: cover;
  margin: auto;
}

.top-txt1{
  width: 60%;
  font-size: 20px;
  padding-top: 20px;
  margin: auto;
}

.top1{
  font-size: 23px;
}

.top-txt2{
  width: 50%;
  font-size: 35px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

.top2{
  font-size: 38px;
}

.emphasis{
  font-size: 50px;
  color: red;
}

.contents{
  padding: 40px 0;
}

.contents-title{
  border-bottom: 3px solid #FF8C00;
}

.co-title{
  font-size: 32px;
}

.contents-box{
  padding-top: 10px;
}

.content{
  padding: 5px 0 15px;
}

.txt{
  font-size: 18px;
}

.fa-solid{
  color: #FF8C00;
}

.content-txt{
  padding: 5px 0 10px;
}

ol{
  padding-left: 40px;
}

.schedule{
  width: 60%;
  height: 400px;
  background-image: url(img/default-image.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px auto;
}

.costs{
  width: 60%;
  height: 400px;
  background-image: url(img/default-image.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px auto;
}

.top-bottom_txt{
  padding-top: 50px;
}
.info{
  text-align: center;
  display: block;
  margin: auto;
}

.info-txt{
  text-align: left;
  display: inline-block;
}

.map{
  text-align: center;
}
